@{
	ViewBag.Title = "Enumerations Demo Web App";
}

<h1>Some sample pages as might exist in a real application</h1>
@Html.ActionLink("View Employee", "Details", "Employee", new { id = 1 }, null)<br/><br/>
@Html.ActionLink("Create Employee", "Create", "Employee")<br/><br/>
@Html.ActionLink("Edit Employee", "Edit", "Employee", new { id = 5 }, null)<br/><br/>

<h1>Internal Type Page</h1>
@Html.ActionLink("View Enumerations", "Index", "Enumerations")<br/><br/>

<h1>Various Config Demos</h1>
@Html.ActionLink("Sandbox dump with various examples", "Index", "Sandbox")<br/><br/>